#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.dropdown {
  position: relative;
}

.dropdown button {
  width: 150px;
  padding: 8px;
  background: rgb(0, 0, 0);
  border: 1px solid #f6c639;
  border-radius: 0px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  width: 150px;
  background: rgb(0, 0, 0);
  border: 1px solid #f6c639;
  border-top: none;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #231e16;
}